torch
torchvision
opencv-python-headless
numpy
pillow
tqdm
supervision==0.27.0
gradio==5.0.0
rfdetr
umap-learn
scikit-learn
transformers
huggingface-hub
accelerate
git+https://github.com/roboflow/sports.git@feat/basketball
hydra-core
omegaconf
iopath
imageio-ffmpeg
git+https://github.com/Gy920/segment-anything-2-real-time.git
